<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <h2><a href="{% url 'index' %}">메인</a></h2>

    <h1>로그인 페이지</h1>
    <br>
    <div>로그인</div>
    <br>

    {% if error_msg %}
    <div>
        {{ error_msg }}
    </div>
    {% endif%}
    
    {% if user.is_authenticated %}

        <div>{{ user.username }} 님으로 로그인 성공</div>
        <form action="{% url 'users:LogoutUrl' %}">
            {% csrf_token %}
            <button type="submit">로그아웃</button>
        </form>

        <form action="{% url 'users:UpdateUrl' %}">
            {% csrf_token %}
            <button type="submit">아이디 변경 폼</button>
        </form>

        <form action="{% url 'users:DeleteUrl' %}">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('정말 삭제하시겠습니까?')">회원 삭제 폼</button>
        </form>

    {% else %}

    <form action="{% url 'users:LoginUrl' %}" method="post">
        {% csrf_token %}

        <div>아이디 : <input name="username" type="text"></div>
        <div>비밀번호 : <input name="password" type="password"></div>
        <div><button type="submit" name="account" value="login">로그인</button></div>
        <div><button type="submit" name="account" value="join">회원가입</button></div>

    </form>
    {% endif %}

</body>
</html>